.cb {

	&.cb-absolute{

		position: absolute;
		&.cb-south{ bottom: 0px; left: 0px; }
	}

	&.cb-fixed{
		position:fixed;
		&.cb-south{ bottom: 0px; }
	}

	&.cb-flexible{
		flex-grow: 1;
		flex-shrink: 1;
	}

	&.cb-sibs-flexible {
		>.cb-content {
			flex-grow: 1;
			flex-shrink: 1;
		}
	}

	&.cb-grow{
		flex-grow:1;
	}

	&.cb-sibs-grow {

		>.cb-content {
			flex-grow: 1;
		}
	}

	&.cb-shrink{
		flex-shrink:1;
	}

	&.cb-sibs-shrink {

		>.cb-content {
			flex-shrink: 1;
		}
	}

	&.cb-nogrow{
		flex: 0 0 auto;
	}

	&.cb-sibs-east {
		justify-content: flex-end;
	}

	&.cb-row {
		flex-direction: row;
	}

	&.cb-column {
		flex-direction: column;
	}

	&.cb-no-anim {

		div{
			transition:none;
		}
	}

	&.cb-end {
		justify-content: flex-end;
	}

	&.cb-devel{
		border: 3px solid black;
		box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
	}
}
